/*
** Custom CSS for QuickStatements 3.0 **

This file overrides some default Pico CSS rules to achieve the desired
design for QuickStatements 3.0.

**Key Modifications:**

- Styles buttons with a blue background, blue borders and white text.
- Styles the navbar links with a blue color.
- Change the hover effects for buttons and navbar links to a deeper blue.
*/


/* Style buttons with the role="button" attribute or type="submit" */
[role=button],[type=submit]{
    --pico-background-color: #007bff;
    --pico-border-color: #007bff;
    --pico-color: white; 
}

/* Style all navigation links(a tags) to be blue */
a {
    --pico-color: #007bff;
} 

/* Handle hover effects for buttons and navigation links */
:root:not([data-theme=dark]), [data-theme=light] {
    --pico-primary-hover: #0256b1;
    --pico-primary-hover-background: #0256b1;
}